* {
  margin: 3px;
  padding: 0px;
  box-sizing: 0px;
  border: 0px;
  margin-top: 0px;
  margin-left: 2px,
}
.contenitore {
  width: 80%;
  border: 1px solid grey;
  margin: 0 auto;
}
.riga {
  margin-top: 10px;
  margin bottom: 40px;
}
/*riga uno*/
.bloccouno.bloccodue {
  position: relative;
  display: inline-block;
}

.contenitore {
  cursor: pointer;
}
.contenitore.hover {
  display: inline-block;
}
.scontoverde {
  background-color: green;
  color: black;
  font-size: 75%;
  width: 4%;
  height: 3%;
  position: absolute;
  right: 12%;
  bottom: 35%;
}
.scontoverdedue {
  background-color: green;
  color: black;
  font-size: 75%;
  width: 4%;
  height: 3%;
  position: absolute;
  right: 12%;
  top: 2%;
}
.scontoverdetre {
  background-color: green;
  color: black;
  font-size: 75%;
  width: 4%;
  height: 3%;
  position: absolute;
  left: 32%;
  top: 2%;
}
.scontoverdequattro {
  background-color: green;
  color: black;
  font-size: 75%;
  width: 4%;
  height: 3%;
  position: absolute;
  left: 32%;
  bottom: 35%;
}
.scontorossouno {
  background-color: red;
  color: black;
  font-size: 75%;
  width: 3%;
  height: 3%;
  position: absolute;
  left: 59%;
  bottom: 35%;
}
.scontorossodue {
  background-color: red;
  color: black;
  font-size: 75%;
  width: 3%;
  height: 3%;
  position: absolute;
  left: 59%;
  top: 2%;
}
