* {
  margin: 3px;
  padding: 0px;
  box-sizing: 0px;
  border: 0px;
  margin-top: 0px;
  margin-left: 2px,
}
/*riga uno*/
.bloccouno.fotounorigauno {
  height: 100px;
  position: relative;
  top: 0px;
  display: inline-block;
}
.fotoduerigauno {
  position: absolute;
  height: 100px;
  left: 315px;
  top: 0px;
}
.fototrerigauno {
  position: absolute;
  left: 620px;
  top: 0px;
}
/*fine riga uno*/
/*inizio riga due*/
.fotounorigadue {
  position: absolute;
}
.fotoduerigadue {
  position: relative;
  bottom: 0px;
  left: 315px;
}
